<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Layout Types</title>
		<link rel="stylesheet" href="meyer_reset.css"> <!-- reset first! -->
		<link rel="stylesheet" href="styles.css">
	</head>
	<body>
		<header>
			<h1>Lorem Ipsum</h1>
			<aside>"Neque porro quisquam est qui dolorem ipsum quia dolor sit
				amet, consectetur, adipisci velit..."
				"There is no one who loves pain itself, who seeks after it
				and wants to have it, simply because it is pain..."</aside>
		</header>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis luctus quam et aliquam.
			Sed at arcu at dolor viverra venenatis. Morbi blandit nisi semper nunc mollis convallis.
			Phasellus ut elit est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer est
			urna, suscipit a cursus eu, consequat vitae mauris. Ut in efficitur augue. Duis vel sapien
			varius, laoreet lorem malesuada, ultricies neque. Curabitur accumsan lacinia erat nec tempor.</p>

		<p>Pellentesque arcu neque, mattis ut cursus sodales, eleifend nec turpis. Aliquam consectetur
			diam sit amet eros eleifend tincidunt. Curabitur molestie arcu quis euismod venenatis. Interdum
			et malesuada fames ac ante ipsum primis in faucibus. Nam volutpat nulla ac lectus faucibus,
			sit amet dignissim leo facilisis. Sed eget massa bibendum, egestas nisi in, fermentum felis.
			Nullam id nibh justo. Etiam sit amet nisl vestibulum, lacinia eros eget, dictum nibh. Morbi
			suscipit posuere elementum. Nullam ut congue purus, ac venenatis felis.</p>

		<p>Duis consectetur faucibus nulla eget euismod. Vestibulum non ante nunc. Class aptent taciti
			sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque nec facilisis
			ex. Phasellus luctus augue augue, a pharetra elit tincidunt a. Vivamus elit ex, ullamcorper
			sit amet blandit eu, accumsan non justo. Sed suscipit eros luctus quam efficitur, eu malesuada
			lacus rhoncus. Quisque posuere ligula ac lacus aliquam, eu suscipit justo condimentum. Nunc
			velit tellus, consectetur vel finibus a, lobortis nec urna. Aenean vestibulum gravida congue.
			Vestibulum id urna nec augue blandit egestas. Pellentesque vulputate, augue et aliquet
			pellentesque, turpis nulla consectetur purus, et blandit orci erat a lacus. Morbi malesuada,
			sapien ut commodo scelerisque, lorem nisi auctor dui, at efficitur ante ex ac arcu. Curabitur
			sagittis faucibus cursus. In sodales ullamcorper ex ut scelerisque. Maecenas dapibus iaculis
			tortor, id vulputate libero lacinia vitae.</p>

		<p>Sed sem velit, sodales eget eros eget, tincidunt maximus ipsum. Mauris viverra lobortis
			aliquet. Ut elit dolor, sollicitudin et mi a, tempor tincidunt mi. Integer dignissim libero
			odio, a fermentum dui aliquam ut. Sed hendrerit, felis id pulvinar tempor, ante purus ultrices
			quam, a ornare ex mi non leo. Cras nec felis vitae leo pellentesque posuere id non elit. Etiam
			imperdiet hendrerit massa a tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
			Aliquam at turpis enim. Donec maximus vitae enim ut malesuada.</p>

		<p>Duis luctus eu odio id congue. Duis convallis in ante at suscipit. Sed sed dui non mauris
			feugiat scelerisque. Morbi tempus leo at ligula viverra, non elementum tortor lacinia. Sed
			neque augue, elementum id finibus sed, pretium id nisl. Nam erat velit, semper sit amet metus
			commodo, facilisis faucibus orci. Phasellus vitae pellentesque magna, eget mattis magna. Nunc
			vel nisl metus. Sed mattis malesuada dolor, sit amet ullamcorper leo ornare vitae. Donec eu
			porta neque, id pharetra enim. Nulla semper fringilla augue at iaculis. Aliquam pellentesque
			id urna ut efficitur. Phasellus congue euismod feugiat.</p>
	</body>
</html>














