header > nav {
    background-color: beige;
}

section aside {
    font-family: Verdana, sans-serif;
}

/* target all elements with the class playbill */
.playbill {
    border: 1px solid black;
    margin: 10px;
    padding: 8px 16px;
    border-radius: 10px;
}

#play1 {
    background-color: lightgoldenrodyellow;
}

#play2 {
    background-color: lightblue;
}

#play3 {
    background-color: lightcoral;
}

#play4 {
    background-color: lightsalmon;
}

/* prefix a class name with the tag it's applied to */
aside.playbill {
    /* target an aside with the class of playbill */
    border: 3px solid black;
}

/* target an element with class playbill inside of an aside */
aside .playbill {
    font-style: italic;
}









