html {
    background-color: #ecf2ff;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #8ccdf1;
    padding: 20px;
}

article {
    position: relative;
}

img {
    position: absolute;
    width: 150px;
    left: -200px;
}

